.item {
  display: inline;
  margin-right: 1rem;
}
.link {
  color: inherit;
}
.link:hover {
  color: #f8d909;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  min-width: 95%;
}
